.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
.input {
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
    border: 1px solid #666;
}
.input:focus-visible {
    border-color: #0056b3;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.button:hover {
    background-color: #0056b3;
}
