body {
    background-color: #f4f4f4;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;
}
input,
button {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
input {
    text-indent: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
}
button:hover {
    background-color: #0056b3;
}
.output {
    margin-top: 20px;
    font-size: 20px;
}
