body {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    gap: 10px;
}

.input-container input {
    height: 30px;
    font-size: 20px;
}
