table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

button {
    background-color: darkgray;
    border-radius: 20px;
    border: none;
    padding: 5px 20px;
}

button:hover {
    background-color: black;
    color: white;
}
