body {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 80px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  width: 100px;
  height: 100px;
  font-size: 24px;
  border-radius: 0;
  color: #666;
  background-color: #fff;
  transition: all;
}

.button:hover {
  background-color: #666;
  color: #fff;
}

.result {
  font-size: 30px;
}

.muted {
  color: #aaa;
}
